@font-face {
  font-family: "InknutAntiqua";
  src: url("/fonts/InknutAntiqua/InknutAntiqua-Medium.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "InknutAntiquaExtraBold";
  src: url("/fonts/InknutAntiqua/InknutAntiqua-ExtraBold.ttf");
  font-weight: 800;
}

.fontBold {
  font-family: InknutAntiquaExtraBold, sans-serif !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: InknutAntiqua, sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

pre {
  overflow-x: scroll;
}

:where(
    media-player:not([data-can-play])
      media-community-skin[data-video]
      div[part="scrim"]
  ),
:where(
    media-player:not([data-user-idle])
      media-community-skin[data-video]
      div[part="scrim"]
  ) {
  opacity: 0 !important;
  transition: var(--video-scrim-in-transition, opacity 0.15s ease-in);
}
